<!DOCTYPE html>
<html lang="en">
{% extends 'home/base.html' %} {% load static %}{% load crispy_forms_tags%}

<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><i>The Tanuri <small> Restaurant</small></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
 
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="{% url 'service' %}" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="{% url 'aboutus' %}" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="block-30 block-30-sm item" style="background-image: url({% static 'images/hotel2.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <span class="subheading-sm">Services</span>
                    <h2 class="heading">Facilities &amp; Services</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row site-section">
            <div class="col-lg-7 mb-5">
                <img src="{% static 'images/team8.jpg' %}" alt="Image placeholder" class="img-fluid img-shadow">
            </div>
            <div class="col-lg-5 pl-md-5">

                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-checkmark"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Delicious meals</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts.</p>
                    </div>
                </div>

                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-checkmark"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Fast &amp; Free Wifi</h3>
                        <p>Connect to the world and don't forget to to like our page.</p>
                    </div>
                </div>

                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-checkmark"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Food delivery</h3>
                        <p>We do deliveries all over Limuru, free deliveries within Limuru town.</p>
                    </div>
                </div>


            </div>
        </div>


    </div>
    {% if person != True %}
    <div class="block-32">
            <form action="{% url 'service'%}" >
            
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="checkin">I'm not alone let me order for</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="persons" id="" class="form-control">                          
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button class="btn btn-primary btn-block">Place Order</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 section-heading">
              <span class="subheading-sm">Menus</span>
              <h2 class="heading">Our Menu</h2>
            </div>
          </div>

        <div class="block-35">
          
          <ul class="nav" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Breakfast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Lunch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Dinner</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel">
                  <!--db start here -->
                  {% for menu in menus%}
                    {% if menu.breakfast == True%}
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="{% url 'place-oder' menu.id %}"><img src="{{menu.img.url}}" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                          <h2 class="heading">{{menu.name}}</h2>
                          <p>{{menu.description}}</p>
                          <div class="price"><sup>Ksh</sup><span class="number">{{menu.price}}</span></div>
                        </div>
                      </div>
                    </div> 
                    {% endif%}  
                    {% endfor %}                                    
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel">
                  <!--db start here -->
                  {% for menu in menus%}
                    {% if menu.lunch == True %}
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="{% url 'place-oder' menu.id %}"><img src="{{ menu.img.url }}" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                          <h2 class="heading">{{ menu.name}}</h2>
                          <p>{{ menu.description}}</p>
                          <div class="price"><sup>Ksh</sup><span class="number">{{menu.price}}</span></div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor%}


                  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel"> 
                  <!--db start here -->
                  {% for menu in menus%}
                    {% if menu.dinner %}
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="{% url 'place-oder' menu.id %}"><img src="{{menu.img.url}}" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                          <h2 class="heading">{{ menu.name }}</h2>
                          <p>{{ menu.description}}</p>
                          <div class="price"><sup>Ksh</sup><span class="number">{{ menu.price}}.00</span></div>
                        </div>
                      </div>
                    </div>
                    {% endif%}
                    {% endfor %}

                    

                    

                    


                                        
                  </div>
                </div>
              </div>
            </div>
            

          </div>

        </div>
      </div>
    </div>
      <div class="site-section">
    <div class="container">
      <div class="row block-9">
              {% if person == True%}
              
                <div class="col-md-6 pr-md-5">
                     <form method="POST" >
                                {% csrf_token %}
                                <!-- SECURITY PURPOSE -->
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Place the Orders for the {{p}} persons</legend>
                                   <!-- {{ p_form|crispy }} -->
                                   {%if two %}
                                   <div class="form-group">
                                       <small>We are at table</small>
                                        {{s_form.table_number|as_crispy_field}}
                                     </div>
                                    <small> Our orders are</small>
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_2|as_crispy_field}}
                                     </div>
                                     
                                
                                     {% endif %}
                                    {% if three  %}
                                     <div class="form-group">
                                       <small>We are at table</small>
                                        {{s_form.table_number|as_crispy_field}}
                                     </div>
                                    <small> Our orders are</small>
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_2|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_3|as_crispy_field}}
                                     </div>
                                     {% endif%}
                                    {% if  four %}
                                     <div class="form-group">
                                       <small>We are at table</small>
                                        {{s_form.table_number|as_crispy_field}}
                                     </div>
                                    <small> Our orders are</small>
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_2|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_3|as_crispy_field}}
                                     </div>
                                    <div class="form-group">
                                        {{s_form.meal_4|as_crispy_field}}
                                     </div>
                                     {% endif%}
                                     {% if five %}
                                     <div class="form-group">
                                       <small>We are at table</small>
                                        {{s_form.table_number|as_crispy_field}}
                                     </div>
                                    <small> Our orders are</small>
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_2|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_3|as_crispy_field}}
                                     </div>
                                    <div class="form-group">
                                        {{s_form.meal_4|as_crispy_field}}
                                     </div>
                                    <div class="form-group">
                                        {{s_form.meal_5|as_crispy_field}}
                                     </div>
                                     {% endif %}
                                     {% if six %}
                                     <div class="form-group">
                                       <small>We are at table</small>
                                        {{s_form.table_number|as_crispy_field}}
                                     </div>
                                    <small> Our orders are</small>
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_2|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_3|as_crispy_field}}
                                     </div>
                                    <div class="form-group">
                                        {{s_form.meal_4|as_crispy_field}}
                                     </div>
                                    <div class="form-group">
                                        {{s_form.meal_5|as_crispy_field}}
                                     </div>
                                     <div class="form-group">
                                        {{s_form.meal_6|as_crispy_field}}
                                     </div>

                                     {%endif%}

                                   </fieldset>

                                <div class="form-group">
                                        <input type="submit" value="Place Oder" class="btn btn-primary py-3 px-5">
                                </div>
                    </form> 
                
                </div>
                
                {% endif %}
                {% if person != True%}
                 <div class="col-md-6 pr-md-5">
                     <form method="POST" >
                                {% csrf_token %}
                                <!-- SECURITY PURPOSE -->
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Place an Order</legend>
                                   <!-- {{ p_form|crispy }} -->
                                   <small>I'm at table</small>
                                   <div class="form-group">
                                        {{s_form.table_number|as_crispy_field}}
                                     </div> 
                                     <small>My meal is</small>                               
                                    <div class="form-group">
                                        {{s_form.meal_1|as_crispy_field}}
                                     </div>
                                   </fieldset>

                                <div class="form-group">
                                        <input type="submit" value="Place Oder" class="btn btn-primary py-3 px-5">
                                </div>
                    </form> 
                
                </div>
                {% endif %}

        <div class="col-md-6" id="map"></div>
      </div>
    </div>
  </div>

    <div class="bg-light site-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-md-7 section-heading">
                    <span class="subheading-sm">More</span>
                    <h2 class="heading">Restaurant Services</h2>
                    <p>Here are some of the services you will expect form us</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 col-lg-4">
                    <div class="media block-6">
                        <div class="icon"><span class="flaticon-dinner"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Restaurant</h3>
                            <p>Get ready get blow away by some of the dishes we have</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="media block-6">
                        <div class="icon"><span class="flaticon-wifi"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Fast &amp; Free Wifi</h3>
                            <p>Connect with the world and don't forget to like our page.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="media block-6">
                        <div class="icon"><span class="flaticon-customer-service"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Call Us +254722297278</h3>
                            <p>There will always be a person ready to listen and help.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="media block-6">
                        <div class="icon"><span class="flaticon-taxi"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Food delivery</h3>
                            <p>Free delivery within Limuru town</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="media block-6">
                        <div class="icon"><span class="flaticon-credit-card"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Accepts Credit Card</h3>
                            <p>No need to worry if you didn't carry cash</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

   <!--
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5">
                    <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                    <h4>Even the all-powerful Pointing</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <img src="images/img_2.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                    <h4>Blind texts it is an almost</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <img src="images/img_7.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                    <h4>Pointing has no control about</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>`
        </div>
    </div>-->


    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-7 section-heading">
                    <span class="subheading-sm">Reviews</span>
                    <h2 class="heading">Guest Reviews</h2>
                </div>
            </div>
            <div class="row">
              {% for review in reviews%}
                <div class="col-md-6 col-lg-4">

                    <div class="block-33">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="{{ review.image.url}}" alt="Person here"></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">{{ review.name}}</h2>
                                <span class="meta">Satisfied Customer</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>&rdquo; {{review.your_experience}} &ldquo;</p>
                            </blockquote>
                        </div>
                    </div>

                </div>
                {% endfor%}

            </div>
        </div>
    </div>
    {% endblock%}
</body>

</html>