<!DOCTYPE html>
<html lang="en">
{% extends "home/base.html" %}{% load static %}

<body>
    {% block content%}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><i>The Tanuri <small> Restaurant</small></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="{% url 'aboutus' %}" class="nav-link">About Us</a></li>
                    <li class="nav-item active"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="{% url 'contant' %}" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="block-30 block-30-sm item" style="background-image: url({% static 'images/hotel2.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <span class="subheading-sm">Blog</span>
                    <h2 class="heading">News &amp; Events</h2>
                </div>
            </div>
        </div>
    </div>
    <!--end of display-->
    <div class=" site-section bg-light" id="blog">

        <div class="container">
            <div class="row">

                {% for blog in blogs %}
                <div class="col-md-12 mb-4">
                    <div class="block-3 d-md-flex">
                        <div class="text">
                            <h2 class="heading"><a href="{% url 'blogdet' blog.id %}">{{ blog.title}}</a></h2>
                            <p class="meta"><em>Posted on</em> <a href="{% url 'blogdet' blog.id %}">{{ blog.date_posted|date:"F d, Y " }}</a> <span class="sep">&bullet;</span> <em>by</em> <a href="{% url 'aboutus' %}">Tanuri</a> </p>
                            <p>{{ blog.slug}}</p>
                            <p><a href="{% url 'blogdet' blog.id %}">Read More...</a></p>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% if is_paginated %}
            <div class="row mt-5">
                <div class="col-md-12 pt-5">
                    <ul class="pagination custom-pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item prev"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="icon-keyboard_arrow_left"></i></a></li>
                        <!-- <li class="page-item ">
                            <a class="page-linkx" href="?page=1">1</a></li> -->
                        {% endif%}{% for num in page_obj.paginator.page_range %}{% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link " href="?page={{ num }} ">{{num}}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num
                        < page_obj.number|add: '3' %} <li class="page-item "><a class="page-link " href="?page={{ num }}">{{ num }}</a></li>
                            {% endif%} {% endfor %} {% if page_obj.has_next %}
                            <li class="page-item next "><a class="page-link " href="?page={{ page_obj.next_page_number }} "><i class="icon-keyboard_arrow_right "></i></a></li>
                            {%endif%}
                    </ul>



                </div>
            </div>
            {% endif %}
        </div>
        {% endblock %}
</body>

</html>